<div class="container">
    <div>
        <img src="assets/images/singer1.jpg" />
    </div>
    <div class="vertical">
        <img src="assets/images/singer2.jpg" />
    </div>
    <div class="horizontal">
        <img src="assets/images/singer3.jpg" />
    </div>
    <div>
        <img src="assets/images/singer4.jpg" />
    </div>
    <div class="big">
        <img src="assets/images/singer5.jpg" />
    </div>
    <div>
        <img src="assets/images/singer1.jpg" />
    </div>
    <div class="vertical">
        <img src="assets/images/singer2.jpg" />
    </div>
    <div class="horizontal">
        <img src="assets/images/singer3.jpg" />
    </div>
    <div>
        <img src="assets/images/singer4.jpg" />
    </div>
    <div class="big">
        <img src="assets/images/singer4.jpg" />
    </div>
</div>
