<div class="periodic-table-container">
    <div class="periodic-table">
        <div class="item item1 purple">Psn</div>
        <div class="item item2">Shooting Unicorns</div>
        <div class="item item3 purple">As</div>
        <div class="item item4 purple">Fs</div>
        <div class="item item4 yellow">Tpr</div>
        <div class="item item5 desc">
            Tappr is a FinTech company developing the next generation payment system technology for sme’s. Founded in a living room by Brett Hales and Kerry Esson, Tappr brings a wealth of tools that online businesses take for granted, in-store. The solution’s main focuses including being payment agnostic, terminal agnostic, data-rich and seamlessly integrates with the Tappr app or other POS providers. Their vision is to enable merchants to accept any form of payment their customers prefer. To date, the team has secured over $5m in funding.
        </div>
        <div class="item item6 yellow">Hsk</div>
        <div class="item item7 yellow">Apo</div>
        <div class="item item8 yellow">Cmp</div>
        <div class="item item9 yellow">Fc</div>
        <div class="item item10 yellow">Mgt</div>
        <div class="item item11 yellow">Ofi</div>
    </div>
</div>
