.container {
    display: flex;
    height: 100vh;
    flex-direction: column;
}

.main {
    flex: 1 0 auto;
    // background-color: #ffcc5c;
    display: flex;
}

.footer {
    flex: 0 0 90px;
    // background-color: #88d8b0;
}

.side-bar {
    flex: 0 0 60px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}

.main-content {
    flex: 1;
    // background-color: #ff6f69;
}

section.content {
    flex: 1 0 auto;
	display: flex;
	flex-direction: column;
}

.music-head {
    flex: 0 0 280px;
	display: flex;
	padding: 40px;
	background-color: #4e4e4e;
}

.catty-music {
    color: #ffffff;
}

.music-list {
    li {
        display: flex;
        padding: 0 20px;
        min-height: 50px;
    }
    li:nth-child(2n) {
        background-color: #f2f2f2;
    }
}
