<div class="youtube-layout">
    <div class="left">
        <img src="/assets/images/singer1.jpg">
    </div>
    <div class="right">
        <div class="actions">
            <div>Up next</div>
            <div>AUTOPLAY</div>
        </div>
        <div class="video-list-container">
            <div class="img">
                <img src="/assets/images/singer2.jpg">
            </div>
            <div class="description">
                <div class="title">The Voice 2017 Jon Mero - Top</div>
                <div class="sub-title">12: "Why I Love You"</div>
                <div class="views">172K views</div>
                <div><span class="tag">New</span></div>
            </div>
        </div>
        <div class="video-list-container">
            <div class="img">
                <img src="/assets/images/singer3.jpg">
            </div>
            <div class="description">
                <div class="title">The Voice 2017 Jon Mero - Top</div>
                <div class="sub-title">12: "Why I Love You"</div>
                <div class="views">172K views</div>
                <div><span class="tag">New</span></div>
            </div>
        </div>
        <div class="video-list-container">
            <div class="img">
                <img src="/assets/images/singer5.jpg">
            </div>
            <div class="description">
                <div class="title">The Voice 2017 Jon Mero - Top</div>
                <div class="sub-title">12: "Why I Love You"</div>
                <div class="views">172K views</div>
                <div><span class="tag">New</span></div>
            </div>
        </div>
        <div class="video-list-container">
            <div class="img">
                <img src="/assets/images/singer3.jpg">
            </div>
            <div class="description">
                <div class="title">The Voice 2017 Jon Mero - Top</div>
                <div class="sub-title">12: "Why I Love You"</div>
                <div class="views">172K views</div>
                <div><span class="tag">New</span></div>
            </div>
        </div>
        <div class="video-list-container">
            <div class="img">
                <img src="/assets/images/singer2.jpg">
            </div>
            <div class="description">
                <div class="title">The Voice 2017 Jon Mero - Top</div>
                <div class="sub-title">12: "Why I Love You"</div>
                <div class="views">172K views</div>
                <div><span class="tag">New</span></div>
            </div>
        </div>
        <div class="video-list-container">
            <div class="img">
                <img src="/assets/images/singer5.jpg">
            </div>
            <div class="description">
                <div class="title">The Voice 2017 Jon Mero - Top</div>
                <div class="sub-title">12: "Why I Love You"</div>
                <div class="views">172K views</div>
                <div><span class="tag">New</span></div>
            </div>
        </div>
        <div class="video-list-container">
            <div class="img">
                <img src="/assets/images/singer3.jpg">
            </div>
            <div class="description">
                <div class="title">The Voice 2017 Jon Mero - Top</div>
                <div class="sub-title">12: "Why I Love You"</div>
                <div class="views">172K views</div>
                <div><span class="tag">New</span></div>
            </div>
        </div>
    </div>
</div>
