.youtube-layout {
    margin: 40px 10%;
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-column-gap: 15px;
}

.youtube-layout,
.left,
.right {
    img {
        height: 100px;
        margin-bottom: 10px;
    }
}

img {
    width: 100%;
}

.video-list-container {
    display: grid;
    grid-template-columns: 1fr 2fr;
    border-bottom: 1px solid #eeeeee;
    margin-bottom: 10px;
}

.left {
    img {
        height: 360px;
    }
}

.actions {
    display: flex;
    justify-content: space-between;
    font-family: Roboto;
    margin-bottom: 10px;
}

.description {
    font-family: Roboto;
    margin-left: 10px;
}

.title, .sub-title {
    font-weight: bold;
    font-size: 14px;
}

.views, .tag {
    font-size: 13px;
    color: rgba(18, 17, 17, 0.6);
}

.tag {
    background: #f5f5f5;
    border-radius: 3px;
    font-weight: bold;
    padding: 3px;
}

@media screen and (max-width: 1000px) {
    .youtube-layout {
        grid-template-columns: 1fr;
    }

    .right {
        border-top: 1px solid #eeeeee;
    }

    .actions {
        margin-top: 10px;
    }
}
