.container {
    width: 80%;
    margin: 40px auto;
}

.grid-container {
    text-align: center;
    display: grid;
    grid-template-columns: 100px 200px;
    grid-gap: 20px;
    // grid-template-rows: 200px 100px 400px;
}

.item {
    background: orange;
    // border: 1px solid #84842f;
    padding: 10px 0;
}

.second-grid {
    margin-top: 40px;
    text-align: center;
    display: grid;
    grid-gap: 20px;
    grid-template-columns: repeat(5, 1fr 2fr);
}

// .item1 {
//     grid-column: 3 / 5;
// }

// .item2 {
//     grid-column: 5 / -1;
// }

// .item5 {
//     grid-column: span 2;
//     grid-row: span 2;
// }

// .item8 {
//     grid-row: span 2;
// }

// .item15 {
//     grid-row: 1 / -1;
// }

// .item18 {
//     grid-column: span 4 / 9;
// }

// .item20 {
//     grid-row: 4 / span 3;
// }


.item1 {
    grid-column: 3 / 5;
}

/* With Item 2, start at col 5 and go until the end */

.item2 {
    grid-column: 5 / -1;
}

/* Make Item 5 double span 2 cols and rows */

.item5 {
    grid-column: span 2;
    grid-row: span 2;
}

/* Make Item 8 two rows high */

.item8 {
    grid-row: span 2;
}

/* Make Item 15 span the entire grid width */

.item15 {
    grid-column: 1 / -1;
}

/* Make item 18 span 4 widths, but end 9 */

.item18 {
    grid-column: span 4 / 9;
}

/* Make item 20 start at row 4 and go for 3 */

.item20 {
    grid-row: 4 / span 3;
}
