.container {
    width: 80%;
    margin: 50px auto;
    display: grid;
    grid-gap: 5px 20px;
    // grid-template-columns: repeat(5, 1fr);
    grid-template-columns: 300px 150px 1fr 1fr 1fr;
    grid-auto-rows: auto;
}

#first {
    grid-column: 1 / 3;
    grid-row: 1 / 3;
}

img {
    width: 100%;
}

#last {
    grid-column: span 3;
}

.title {
    font-size: 25px;
}

.sub-title {
    color: #777;
}

.status {
    font-size: 12px;
}

.description {
    margin: 10px;
}

.s-image {
    img {
        height: 100px;
    }
}

.last-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.panel {
    border-bottom: 1px solid #aba8a8;
    margin: 0 10px;
}

img#singer3 {
    height: 150px;
}

img#meteor {
    height: 320px;
}
