<div class="container">
    <div id="first">
        <img id="meteor" src="assets/images/meteor1.png" alt="">
        <div class="description">
            <div class="title">Meteor galaxy</div>
            <div class="sub-title">learning guide to meteor</div>
            <div class="status">Author name - 10 min read</div>
        </div>
    </div>
    <div id="second" class="s-image">
        <img src="assets/images/gun.jpeg" alt="">
        <div class="description">
            <div class="sub-title">Member preview</div>
            <div class="status">Author name - 10 min read</div>
        </div>
    </div>
    <div class="s-image">
        <img src="assets/images/singer1.jpg" alt="">
        <div class="description">
            <div class="sub-title">Member preview</div>
            <div class="status">Author name - 10 min read</div>
        </div>
    </div>
    <div class="s-image">
        <img src="assets/images/singer2.jpg" alt="">
        <div class="description">
            <div class="sub-title">Member preview</div>
            <div class="status">Author name - 10 min read</div>
        </div>
    </div>
    <div id="last">
        <div class="last-container">
            <div>
                <img id="singer3" src="assets/images/singer3.jpg" alt="">
                <div class="description">
                    <div class="title">Pop singer</div>
                    <div class="sub-title">Member preview</div>
                    <div class="status">Author name - 10 min read</div>
                </div>
            </div>
            <div>
                <div class="panel">
                    <div class="description">
                        <div class="sub-title">Member preview</div>
                        <div class="status">Author name - 10 min read</div>
                    </div>
                </div>
                <div class="panel">
                    <div class="description">
                        <div class="sub-title">Member preview</div>
                        <div class="status">Author name - 10 min read</div>
                    </div>
                </div>
                <div class="panel">
                    <div class="description">
                        <div class="sub-title">Member preview</div>
                        <div class="status">Author name - 10 min read</div>
                    </div>
                </div>
                <div class="panel">
                    <div class="description">
                        <div class="sub-title">Member preview</div>
                        <div class="status">Author name - 10 min read</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
