<h1 routerLink="/youtube-layout"><u>Youtube Layout</u></h1>
<h1 routerLink="/medium-layout"><u>Medium Layout</u></h1>
<h1 routerLink="/page-layout"><u>Basic page layout</u></h1>
<h1 routerLink="/template-area"><u>Grid template area</u></h1>
<h1 routerLink="/auto-fit"><u>Auto fit</u></h1>
<h1 routerLink="/image-grid"><u>Image grid</u></h1>
<h1 routerLink="/stackoverflow"><u>Stack overflow layout</u></h1>
<h1 routerLink="/calculator"><u>Calculator</u></h1>
<h1 routerLink="/elevator"><u>Elevator</u></h1>
<h1 routerLink="/music-app"><u>Music app</u></h1>
<h1 routerLink="/master-grid"><u>Master grid</u></h1>
<h1 routerLink="/albumn-layout"><u>Albumn layout</u></h1>
<h1 routerLink="/cardio"><u>Cardio</u></h1>
<h1 routerLink="/flex-fundamentals"><u>Flex fundamentals</u></h1>
<h1 routerLink="/flex-navbar"><u>Flex Navbar</u></h1>
<h1 routerLink="/flex-mobile-layout"><u>Flex Mobile layout</u></h1>
